.navDiv {
    background: #d9dad7;
    color: white;
    text-decoration: none;
    padding: 20px;
}

.logo {
    max-width: 4em;
    max-height: 4em;
    border-radius: 30px;
    align-items: center;
}

.nav-link {
    color: #1A2639;
}

// .nav-item {
//     font-size: 20px;
// }