.navDiv {
    background: #d9dad7;
    color: white;
    text-decoration: none;
    padding: 20px;
}

.logo {
    max-width: 3em;
    max-height: 3em;
    border-radius: 30px;
    align-items: center;
    margin-top: 1em;
}

.nav-link {
    color: #1A2639;
}
