<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://media.istockphoto.com/photos/multiethnic-group-of-children-and-english-concept-picture-id511281043?s=2048x2048" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://media.istockphoto.com/photos/colorful-wooden-english-letters-az-on-black-background-and-copy-space-picture-id1352575233?s=2048x2048" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://media.istockphoto.com/photos/two-students-hold-notebooks-against-background-of-flag-of-england-picture-id1303456977?s=2048x2048" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://media.istockphoto.com/vectors/national-mathematics-day-december-22-vector-id1338845389?s=2048x2048" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
