* {
    margin: 0;
    padding: 0;
}

*::selection {
    background: var(--orange);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

.container {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}