<!-- content section starts  -->
<section class="home pt-0" id="home">
    <div class="content">
        <h3>Your language experts since 2005 <br> <span>Lenguage Factory</span></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus suscipit porro nam libero natus error consequatur sed repudiandae eos quo?</p>
        <a href="#" class="btn">Read More</a>
    </div>

    <div class="image">
        <img src="/assets/Images/home-img.png" alt="">
    </div>

</section>

<!-- content section ends -->

<!-- features section starts  -->

<section class="features" id="features">

    <h1 class="heading"> The languages we teach you </h1>

    <div class="box-container">

        <div class="box">
            <h2 class="available mb-4">Available</h2>
            <img src="/assets/Images/f-icon1.png" alt="">
            <h3>English language</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam minus recusandae autem, repellendus fugit quaerat provident voluptatum non officiis ratione.</p>
            <a routerLink="courses" class="btn">read more</a>
        </div>

        <div class="box">
            <h2 class="available mb-4">Available</h2>
            <img src="/assets/Images/f-icon2.png" alt="">
            <h3>Arabic Language</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam minus recusandae autem, repellendus fugit quaerat provident voluptatum non officiis ratione.</p>
            <a routerLink="courses" class="btn">read more</a>
        </div>

        <div class="box">
            <h2 class="text-danger mb-4">Not Available</h2>
            <img src="/assets/Images/f-icon3.png" alt="">
            <h3>Italian Language</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam minus recusandae autem, repellendus fugit quaerat provident voluptatum non officiis ratione.</p>
            <a (click)="outOfStack()" class="btn">read more</a>
        </div>

        <!-- copy -->

        <div class="box">
            <h2 class="text-danger mb-4">Not Available</h2>
            <img src="/assets/Images/f-icon4.png" alt="">
            <h3>Japanese language</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam minus recusandae autem, repellendus fugit quaerat provident voluptatum non officiis ratione.</p>
            <a (click)="outOfStack()" class="btn">read more</a>
        </div>

        <div class="box">
            <h2 class="text-danger mb-4">Not Available</h2>
            <img src="/assets/Images/f-icon5.png" alt="">
            <h3>French language</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam minus recusandae autem, repellendus fugit quaerat provident voluptatum non officiis ratione.</p>
            <a (click)="outOfStack()" class="btn">read more</a>
        </div>

        <div class="box">
            <h2 class="available mb-4">Available</h2>

            <img src="/assets/Images/f-icon6.png" alt="">
            <h3>Spanish language</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam minus recusandae autem, repellendus fugit quaerat provident voluptatum non officiis ratione.</p>
            <a routerLink="courses" class="btn">read more</a>
        </div>

    </div>

</section>


<!-- gallery  -->


<section class="gallery" id="gallery">

    <h1 class="heading">
        <span>G</span>
        <span>A</span>
        <span>L</span>
        <span>L</span>
        <span>E</span>
        <span>R</span>
        <span>Y</span>
    </h1>

    <div class="box-container">

        <div class="box">
            <img src="/assets/Images/g-1.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="/assets/Images/g-2.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="/assets/Images/g-3.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="/assets/Images/g-4.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="/assets/Images/g-5.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="/assets/Images/g-6.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="/assets/Images/g-7.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="/assets/Images/g-8.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="/assets/Images/g-9.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>

    </div>

</section>

<!-- gallery section ends -->















<!-- pricing section starts  -->

<section class="pricing" id="pricing">

    <h1 class="heading"> OUR Monthly PRICING PLANS </h1>

    <div class="box-container">

        <div class="box">
            <h3 class="title">Basic</h3>
            <div class="price">$150<span>/Monthly</span></div>
            <ul>
                <li> <i class="fas fa-check"></i> 3 downloads PDF Book </li>
                <li> <i class="fas fa-check"></i> 15 Hours Weekly </li>
                <li> <i class="fas fa-times"></i> Free Acount </li>
                <li> <i class="fas fa-times"></i> 24/7 Suppurt</li>
                <li> <i class="fas fa-times"></i> 2 Repeat Testing</li>
                <li> <i class="fas fa-times"></i> 100+ downloads PDF Book</li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

        <div class="box">
            <h3 class="title">Standard</h3>
            <div class="price">$250<span>/monthly</span></div>
            <ul>
                <li> <i class="fas fa-check"></i> 5 downloads PDF Book </li>
                <li> <i class="fas fa-check"></i> 15 Hours Weekly </li>
                <li> <i class="fas fa-check"></i> Free Acount </li>
                <li> <i class="fas fa-check"></i> 24/7 Suppurt</li>
                <li> <i class="fas fa-times"></i> 2 Repeat Testing</li>
                <li> <i class="fas fa-times"></i> 100+ downloads PDF Book</li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

        <div class="box">
            <h3 class="title">Advanced</h3>
            <div class="price">$350<span>/monthly</span></div>
            <ul>
                <li> <i class="fas fa-check"></i> 10 downloads PDF Book+ </li>
                <li> <i class="fas fa-check"></i> 15 Hours Weekly </li>
                <li> <i class="fas fa-check"></i> Free Acount </li>
                <li> <i class="fas fa-check"></i> 24/7 Suppurt</li>
                <li> <i class="fas fa-check"></i> 2 Repeat Testing</li>
                <li> <i class="fas fa-check"></i> 100+ downloads PDF Book</li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>


    </div>

    <div class="full">
        <h1 class="heading"> Our full packages </h1>
    </div>


    <div class="box-container">

        <div class="box">
            <h3 class="title">A1 Level</h3>
            <div class="price">$400<span>/3 Month Cours</span></div>
            <ul>
                <li> <i class="fas fa-check"></i> 5 downloads PDF Book </li>
                <li> <i class="fas fa-check"></i> 15 Hours Weekly </li>
                <li> <i class="fas fa-check"></i> Free Acount </li>
                <li> <i class="fas fa-check"></i> 24/7 Suppurt</li>
                <li> <i class="fas fa-times"></i> 2 Repeat Testing</li>
                <li> <i class="fas fa-times"></i> 100+ downloads PDF Book</li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

        <div class="box">
            <h3 class="title">A2 Level</h3>
            <div class="price">$500<span>/3 Month Cours</span></div>
            <ul>
                <li> <i class="fas fa-check"></i> 7 downloads PDF Book </li>
                <li> <i class="fas fa-check"></i> 15 Hours Weekly </li>
                <li> <i class="fas fa-check"></i> Free Acount </li>
                <li> <i class="fas fa-check"></i> 24/7 Suppurt</li>
                <li> <i class="fas fa-times"></i> 2 Repeat Testing</li>
                <li> <i class="fas fa-times"></i> 100+ downloads PDF Book</li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

        <div class="box">
            <h3 class="title">B1 Level</h3>
            <div class="price">$600<span>/monthly</span></div>
            <ul>
                <li> <i class="fas fa-check"></i> 9 downloads PDF Book </li>
                <li> <i class="fas fa-check"></i> 15 Hours Weekly </li>
                <li> <i class="fas fa-check"></i> Free Acount </li>
                <li> <i class="fas fa-check"></i> 24/7 Suppurt</li>
                <li> <i class="fas fa-check"></i> 2 Repeat Testing</li>
                <li> <i class="fas fa-check"></i> 100+ downloads PDF Book</li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

        <div class="box">
            <h3 class="title">B2 Level</h3>
            <div class="price">$750<span>/monthly</span></div>
            <ul>
                <li> <i class="fas fa-check"></i> 12 downloads PDF Book </li>
                <li> <i class="fas fa-check"></i> 15 Hours Weekly </li>
                <li> <i class="fas fa-check"></i> Free Acount </li>
                <li> <i class="fas fa-check"></i> 24/7 Suppurt</li>
                <li> <i class="fas fa-check"></i> 2 Repeat Testing</li>
                <li> <i class="fas fa-check"></i> 100+ downloads PDF Book</li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

        <div class="box">
            <h3 class="title">C1 Level</h3>
            <div class="price">$850<span>/monthly</span></div>
            <ul>
                <li> <i class="fas fa-check"></i> 15 downloads PDF Book </li>
                <li> <i class="fas fa-check"></i> 15 Hours Weekly </li>
                <li> <i class="fas fa-check"></i> Free Acount </li>
                <li> <i class="fas fa-check"></i> 24/7 Suppurt</li>
                <li> <i class="fas fa-check"></i> 2 Repeat Testing</li>
                <li> <i class="fas fa-check"></i> 100+ downloads PDF Book</li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

        <div class="box">
            <h3 class="title">C2 Level</h3>
            <div class="price">$900<span>/monthly</span></div>
            <ul>
                <li> <i class="fas fa-check"></i> 20 downloads PDF Book </li>
                <li> <i class="fas fa-check"></i> 15 Hours Weekly </li>
                <li> <i class="fas fa-check"></i> Free Acount </li>
                <li> <i class="fas fa-check"></i> 24/7 Suppurt</li>
                <li> <i class="fas fa-check"></i> 2 Repeat Testing</li>
                <li> <i class="fas fa-check"></i> 100+ downloads PDF Book</li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>


    </div>

</section>

<!-- pricing section ends -->


<!-- review section starts  -->

<section class="review" id="review">

    <h1 class="heading"> people's review </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-quote-right"></i>
            <div class="user">
                <img src="/assets/Images/pic1.png" alt="">
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="comment">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus et, perspiciatis nisi tempore aspernatur accusantium sed distinctio facilis aperiam laborum autem earum repellat, commodi eum. Ullam cupiditate expedita officiis obcaecati?
                </div>
            </div>
        </div>

        <div class="box">
            <i class="fas fa-quote-right"></i>
            <div class="user">
                <img src="/assets/Images/pic2.png" alt="">
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="comment">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus et, perspiciatis nisi tempore aspernatur accusantium sed distinctio facilis aperiam laborum autem earum repellat, commodi eum. Ullam cupiditate expedita officiis obcaecati?
                </div>
            </div>
        </div>

        <div class="box">
            <i class="fas fa-quote-right"></i>
            <div class="user">
                <img src="/assets/Images/pic3.png" alt="">
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="comment">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus et, perspiciatis nisi tempore aspernatur accusantium sed distinctio facilis aperiam laborum autem earum repellat, commodi eum. Ullam cupiditate expedita officiis obcaecati?
                </div>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-quote-right"></i>
            <div class="user">
                <img src="/assets/Images/pic1.png" alt="">
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="comment">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus et, perspiciatis nisi tempore aspernatur accusantium sed distinctio facilis aperiam laborum autem earum repellat, commodi eum. Ullam cupiditate expedita officiis obcaecati?
                </div>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-quote-right"></i>
            <div class="user">
                <img src="/assets/Images/pic1.png" alt="">
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="comment">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus et, perspiciatis nisi tempore aspernatur accusantium sed distinctio facilis aperiam laborum autem earum repellat, commodi eum. Ullam cupiditate expedita officiis obcaecati?
                </div>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-quote-right"></i>
            <div class="user">
                <img src="/assets/Images/pic1.png" alt="">
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="comment">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus et, perspiciatis nisi tempore aspernatur accusantium sed distinctio facilis aperiam laborum autem earum repellat, commodi eum. Ullam cupiditate expedita officiis obcaecati?
                </div>
            </div>
        </div>

    </div>


</section>

<!-- review section ends -->