<div class="container bg-Secondary">
    <h1 class="text-center header p-5">
        Contact Us</h1>
    <form>
        <div class="mb-4">
            <label for="exampleInputFrNme" class="form-label">First Name</label>
            <input type="text" class="input form-control" id="exampleInputFrNme">
            <div id="FrName" class="form-text">Enter your First Name.</div>
        </div>
        <div class="mb-4">
            <label for="exampleInputLaName" class="form-label">Last Name</label>
            <input type="text" class="input form-control" id="exampleInputLaName">
            <div id="LaName" class="form-text">Enter your Last Name.</div>
        </div>
        <div class="mb-4">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="input form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-4">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="input form-control" id="exampleInputPassword1">
            <div id="Password" class="form-text">Enter your Password.</div>
        </div>
        <div class="mb-4">
            <label for="exampleInputEmail1" class="form-label">Your comment</label>
            <textarea class="input form-control" placeholder=" Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <div id="Comments" class="form-text">Write your comment.</div>
        </div>
        <div class="mb-1 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me </label>
        </div>
        <button type="submit" class="d-grid gap-2 col-6 mx-auto  button  btn btn-primary  ">Send To Us</button>
    </form>
</div>
<div class="container d-flex justify-content-center">
    <iframe class="map text-center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.5281063085486!2d16.35722731553011!3d48.196442979228166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476da8192fde39d7%3A0xe543f0731e2b5529!2sCodeFactory!5e0!3m2!1sen!2sat!4v1638042323085!5m2!1sen!2sat"
        width="1300" height="500" allowfullscreen="" loading="lazy"></iframe>
</div>