<section class="about" id="about">

    <h1 class="heading"> about Language Cinter </h1>

    <div class="column">

        <div class="image">
            <img src="/assets/Images/about-img.png" alt="">
        </div>

        <div class="content">
            <h3>Easy And Perfect Solution For Your Language</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla placeat deserunt saepe repudiandae veniam soluta minima dolor hic aperiam iure.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, quaerat. Dolorem ratione saepe magni quo inventore porro ab voluptates eos, nam eius provident accusantium, quia similique est, repellendus et reiciendis.</p>
            <div class="buttons">
                <a href="#">  Read More </a>
                <a href="#">  Go to Home </a>
            </div>
        </div>

    </div>
    <div class="we">
        <div class="links">
            <h1 class="serv"> Our Online Services</h1>

            <p> <a href="#">  Kostenvoranschlag einholen </a> </p>
            <p> <a href="#">Kurs buchen/umbuchen/stornieren </a> </p>

            <h1 class="per">Per E-Mail</h1>

            <p> languagecenter@lgc.at</p>

            <p> <a href="#">  Rechnungsänderung </a> </p>
            <p> <a href="#">  Bestätigungen/Nachweise/Duplikate anfordern </a> </p>
            <p> <a href="#">  Allgemeine sonstige Anfrage und Dateiübermittlung </a> </p>
            <p> <a href="#">  Anfrage zu firmeninternen maßgeschneiderten Seminaren </a> </p>

            <h1 class="per">Per Telefon</h1>

            <p>+43 1 1005005000</p>

            <h1 class="per">Persönlich</h1>

            <p> <a href="#">  Öffnungszeiten des WIFI Wien Kundenservice </a>
            </p>
            <h1 class="per">Per Post</h1>

            <p>Language Center, Wien </p>
            <p> Währinger Gürtel 000 </p>
            <p> 1111 Wien</p>


        </div>

        <div class="zeit">
            <h1> Öffnungszeiten und Kundenservice</h1>
            <p>Mo-Do: 8.00 bis 16.00 Uhr </p>
            <p> Fr: 8.00 bis 16.00 Uhr</p>
            <p> Weihnachtsferien: 23.12.2021 bis 7.1.2022</p>
            <p>Semesterferien: 7.2. bis 11.2.2022 </p>
            <p> Osterferien: 11.4. bis 15.4.2022 </p>
            <p>Sommerferien: 4.7. bis 12.8.2022 </p>

            <h1 class="zahlung">Bankverbindung</h1>
            <p id="bank">Bankverbindung für Veranstaltungs-/Kurs-/Lehrgangs:</p>
            <p>Bitte führen Sie immer Buchungsnummer/Rechnungsnummer bei Ihrer Zahlung an.</p>
            <p>Language Center,Wirtschaftsförderungsinstitut der Wirtschaftskammer Wien</p>
            <p>Bank Austria, BLZ 00.000, Konto-Nummer 000 00 000 </p>
            <p> lautend auf Wirtschaftskammer Wien Language Center Währinger Gürtel 00, 1111, Wien </p>
            <p> IBAN: AT00 0000 0000 9999 9999 BIC:


        </div>

    </div>


</section>