.footer1 {
    background: #3E4A61;
    color: white;
    text-decoration: none;
    height: 15em;
}

.logo {
    max-width: 5em;
    max-height: 5em;
    border-radius: 30px;
    align-items: center;
}

.nav-link {
    color: white;
}

.twitter {
    color: #00ACEC;
    font-size: 30px;
}

.facebook {
    color: #336699;
    font-size: 30px;
}

.github {
    color: white;
    font-size: 30px;
}

.whatsapp {
    color: green;
    font-size: 30px;
}

.linkedin {
    color: #0877B5;
    font-size: 30px;
}

.footer2 {
    background-color: #D9DAD7;
    height: 150%;
    align-items: center;
}

.footer2>h3 {
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    color: #5D6570;
}