<div class="footer ">

    <div class="nav justify-content-center">
        <a href="https://codefactory.wien/en/home-en/">
            <img class="logo" src="https://tse4.mm.bing.net/th?id=OIP.dCs__VhpDUqYfT3gFIepmgAAAA&pid=Api&P=0&w=300&h=300" alt="Image not found">
        </a>
        <div class="nav-item m-3 font-color-waitg">
            <h3 class=" nav-link  fw-bold " routerLink="">Follow us</h3>
            <a class="facebook nav-link  fw-bold fab fa-facebook-f "></a>
            <a class="twitter nav-link  fw-bold fab fa-twitter"></a>
            <a class="github nav-link  fw-bold fab fa-github"></a>
            <a class="whatsapp nav-link  fw-bold fab fa-whatsapp"></a>
            <a class="linkedin nav-link  fw-bold fab fa-linkedin-in"></a>
        </div>

    </div>


    <p class="nav justify-content-center">CodeFactory-Front-End</p>
    <div class="footer2  nav justify-content-center text-black">
        <h3> &nbsp; &nbsp; Headquarters: <br> PraterStern 22/2/2 <br> 1020 Vienna,Austria</h3>


    </div>

</div>
