.cardDiv {
    width: fit-content;
    height: fit-content;
    max-width: 590px;
    border-radius: 10px;
    font-size: 20px;
}

.cardImg {
    max-width: 300px;
    margin: 0px auto;
}

.description {
    color: rgb(69, 167, 189);
}

.totalDiv {
    margin: 10px auto;
}

.courses {
    margin: 0px auto;
}

.header {
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(69, 167, 189);
}

.mainDiv {
    margin: 0px auto;
    align-items: center;
    background: rgb(51, 102, 126);
    font-size: 2em;
    padding: 40px;
}