<!-- lenguage:"Arabic",
    niveau:"Intro & Basic",
    location:"Vienna",
    Teacher:"Ahmad Alsalem",
    duration:"10.12.2021 - 07.01.2022",
    des:"Learn Arabic with a Native Teacher. Complete Basic Course: Arabic for Beginners A1, A2 Listening, Writing and Speaking",
    img:"https://img-c.udemycdn.com/course/100x100/260490_ee05_6.jpg" -->
<div class="container row justify-content-center">
    <h1>Courses Cart</h1>
    <!-- <h4>Courses in Cart {{i}}</h4> -->
    <div class="col col-auto col-lg-5 col-md-12 col-sm-12 row p-3 border m-3 cartItem">
        <img src="https://img-c.udemycdn.com/course/100x100/260490_ee05_6.jpg" class="col-3  rounded p-0" alt="">
        <div class="col-9 ">
            <p>lenguage + Intro & basic</p>
            <p>Price</p>
            <br>

            <div class="offset-lg-4 offset-md-6  ">
                <button class="btn btn-danger col p-2 me-2">
                    Remove Course
                </button>
                <button class="btn btn-success col p-2">Buy now</button>
            </div>

        </div>
    </div>

    <div class="col col-auto col-lg-5 col-md-12 col-sm-12 row p-3 border m-3 cartItem">
        <img src="https://img-c.udemycdn.com/course/100x100/260490_ee05_6.jpg" class="col-3  rounded p-0" alt="">
        <div class="col-9 ">
            <p>lenguage + Intro & basic</p>
            <p>Price</p>
            <br>

            <div class="offset-lg-4 offset-md-6  ">
                <button class="btn btn-danger col p-2 me-2">
                    Remove Course
                </button>
                <button class="btn btn-success col p-2">Buy now</button>
            </div>

        </div>
    </div>
</div>