<h1 class="text-center header p-5">Courses Cart</h1>

<div class="col mb-4 col-lg-6 col-md-6 col-sm-12 col-auto d-flex justify-content-center courses mt-4 " *ngFor="let course of cart; index as i">
    <div class="card cardDiv text-center">
        <div class="row ">
            <img src="{{course.img}}" class="card-img-top cardImg p-5 col col-lg-6" alt="...">
            <div class="card-body col col-lg-6 pt-5">
                <h1 class="card-title description">{{course.lenguage}}</h1>
                <p class="card-text ">{{course.des}}</p>
            </div>
        </div>
        <ul class="list-group list-group-flush col ">
            <li class="list-group-item"><span class="description fw-bold">Niveau:</span> {{course.niveau}}</li>
            <li class="list-group-item"><span class="description fw-bold">Teacher:</span> {{course.Teacher}}</li>
            <li class="list-group-item"><span class="description fw-bold">Duration:</span> {{course.duration}}</li>
            <li class="list-group-item"><span class="description fw-bold">Price:</span> {{course.price | currency}}</li>
        </ul>
        <div class="card-body pb-4 text-center">
            <a (click)="removeCourse(i)" class="card-link link btn btn-danger">Remove</a>
        </div>
    </div>
</div>
<div class="card col-6 totalDiv p-2 ">
    <h5 class="card-header ">Selected Courses:</h5>
    <div class="card-body row text-center">
        <h5 class="card-title col-12 text-warning">
            Original Price: {{sum | currency}}
        </h5>
        <ng-container *ngIf="sum >= 1200;else second">
            <p class="h2 text-danger">
                -20%
            </p>
            <h4 class="card-title col-12 text-success">
                Final Price: {{twentyPercent | currency}}
            </h4>
        </ng-container>
        <ng-template #second>
            <ng-container *ngIf="sum >= 600">
                <p class="h2 text-danger">
                    -10%
                </p>
                <h4 class="card-title col-12 text-success">
                    Final Price: {{tenPercent | currency}}
                </h4>
            </ng-container>
        </ng-template>

        <a href="#" (click)="cleanCart()" class="btn btn-primary col-8 col-lg-6 totalDiv">Checkout</a>
    </div>
</div>